/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

/* Main styling */

body {
  display: grid;
  grid-template-rows: minmax(10rem,1fr) minmax(10rem,4fr);
  gap: 3rem;
  font-family: helvetica, sans-serif;
  background: linear-gradient(rgb(189, 195, 199), rgb(44, 62, 80));;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

header > button {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  border: none;
  background-color: rgb(129, 167, 235);
  color: white;
  font-weight: bold;
}

header > button {
  box-shadow: 0.1rem 0.1rem 0.2rem 0.05rem rgba(0, 0, 0, 0.15);
}

header > button:focus {
  outline: none;
}

dialog {
  width: 35rem;
  height: 21rem;
  justify-self: center;
  margin-top: 15rem;
}

form {
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-rows: 3fr repeat(2, 1fr);
  grid-template-columns: 100%;
  justify-content: center;
}

form {
  padding: 2rem;
}

fieldset {
  display: flex;
  border: none;
}

fieldset:first-child {
  flex-direction: column;
  justify-items: start;
  align-items: start;
  gap: 0.5rem;

}

fieldset:first-child > div {
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  width: 100%;
  margin: 7px 0;
}

fieldset:nth-child(2) {
  flex-direction: row;
  justify-content: start;
}

fieldset:nth-child(2) > div:first-child {
  width: 100%;
}

fieldset:nth-child(2) > div:last-child {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 3rem;
}


fieldset:last-child {
  gap: 5rem;
  justify-content: center;
}



/* CSS MINIMAL TABLE FORMATTING */

html {
  font-family: helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
  font-weight: bold;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(255, 255, 255);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bolder;
}

  /* Erase Button Trash Can */
td:last-child > button {
  background: url("../svgs/trash-xmark-svgrepo-com.svg");
  width: 2rem;
  height: 2rem;
  background-size:contain;
  scale: 0.7;
  border-width: 0;
  padding: 2px;
  opacity: 70%;
}

td:last-child > button:active {
  opacity: 40%;
}


  /* Toggle Read Status */

  .status {
    width: 50%;
    height: 1.5rem;
    border-width: 2px;
    border-radius: 2rem;
    background-color: rgb(183, 183, 183);
  }

  .status{
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: start;
    transition: all 0.3s ease-in-out;
  }

  .toggle {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1rem;
    margin: 0.25rem;
    background-color: white;
    transition: all 10s ease-in-out;
  }

  .status.active {
    background-color: rgb(132, 187, 253);
    justify-content: end;
  }

/* DIALOG */

dialog::backdrop {
  backdrop-filter: blur(20px);
}

dialog {
  border-radius: 1rem;
  border: none;
  box-shadow: 0.1rem 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.158);
  background-color: #f4f4f4dc;
}

input[type="text"], 
input[type="number"] {
  background-color: rgba(255, 255, 255, 0.799);
  border: 1px solid rgba(0, 0, 0, 0.209);
  border-radius: 5px;
  padding: 0.2rem 0.3rem;
  font-size: 0.9rem;
}

fieldset > button {
  width: 10rem;
  border-radius: 15px;
  border-style: none;
  background-color:  rgba(129, 168, 235, 0.918);
  box-shadow: 0.1rem 0.1rem 0.2rem 0.05rem rgba(0, 0, 0, 0.15);
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
}

input[type="text"]:focus, input[type="number"]:focus {
  outline: none;
  border: solid rgb(101, 153, 243) 1px;
}

div > legend, 
fieldset:first-child > div > label {
  font-weight: 600;
  letter-spacing: 0.2px;
}

label, legend {
  color: rgba(0, 0, 0, 0.664);
}

fieldset:nth-child(2) label {
  letter-spacing: 0.5px;
} 

fieldset:nth-child(2) {
  align-items: center;
}

/* input:user-invalid {
  outline: red 0.5px solid;
} */

  /* TABLE */

  main {
    justify-items: center;
  }




